@charset "UTF-8";

/* Aquí definimos las Custom properties */
:root {
  --background: rgb(255, 253, 250);
  --primary:  rgb(197, 198, 206);
  --secondary:   rgb(93, 95, 121);
  --tertiary: rgb(0, 0, 26);

  --accent-1:  rgb(233, 171, 83);
  --accent-2:  rgb(241, 94, 80);

  --font: 'Inter', sans-serif;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font);

  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* <--------------------------------> */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
}
.header__menu{
    width: 40px;
    height: 40px;
    background-image: url("../assets/images/icon-menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header__logo{
  width: 45px;
  height: 45px;
  background-image: url("../assets/images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
.header__nav{
  display: flex;
  gap: 32px;
  font-size: 1.6rem;
  color: var(--secondary);
  text-transform: capitalize;
}
.inactive{
    display: none;
}
.figure{
    width: 90%;
    height: 300px;
    margin: 0 auto;
}
.figure__img{
    width: 100%;
    height: 100%;
}
.h1{
    margin: 16px;
  grid-area: h1;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}
.div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 16px;
  gap: 18px;
}
.div__p{
  grid-area: texto;
  font-size: 1.5rem;
  color: var(--secondary);
  line-height: 1.8;
}
.button{
  grid-area: texto;
  width: 200px;
  height: 48px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--background);
  background-color: var(--accent-2);  
}

